[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
mlflow = "*"
numpy = "*"
scipy = "*"
joblib = "*"
scikit-learn = "*"
rgf-python = "*"
toolz = "*"
dask = "*"
dask_ml = "*"

[dev-packages]

[requires]
python_version = "3.6"
